<launch>
  <arg name="ns"    default="create1"                 doc="Namespace of the robot"/>
  <arg name="laser" default="$(optenv LASER rplidar)" doc="Laser for mapping the environment"/>

  <arg name="global_planner" value="$(optenv GLOBAL_PLANNER gbp)"/>
  <arg name="local_planner"  value="$(optenv LOCAL_PLANNER teb)"/>

  <node pkg="mbf_costmap_nav" type="mbf_costmap_nav" respawn="false" name="move_base_flex" output="screen">

    <!-- Load move base params, since mbf requires the same ones -->
    <rosparam file="$(find ca_move_base)/config/move_base_params.yaml" command="load" />

    <rosparam file="$(find ca_move_base)/config/costmap_common_params.yaml" command="load" ns="global_costmap" />
    <rosparam file="$(find ca_move_base)/config/global_costmap_params.yaml" command="load" />

    <rosparam file="$(find ca_move_base)/config/$(arg global_planner)_global_planner_params.yaml" command="load" />

    <rosparam file="$(find ca_move_base)/config/costmap_common_params.yaml" command="load" ns="local_costmap" />
    <rosparam file="$(find ca_move_base)/config/local_costmap_params.yaml" command="load" />

    <rosparam file="$(find ca_move_base)/config/$(arg local_planner)_local_planner_params.yaml" command="load" />

    <remap from="map"        to="/map"/>
    <remap from="laser/scan" to="$(arg laser)/scan"/>
    <remap from="odom"       to="odom_combined"/>
    <remap from="cmd_vel"    to="cmd_vel"/>
    <!-- <remap from="/mobile_base/sensors/bumper_pointcloud"
           to="mobile_base/sensors/bumper_pointcloud"/> -->

    <!-- Remap frames for specific robots -->
    <param name="local_costmap/robot_base_frame" value="$(arg ns)/base_link"/>
    <param name="global_costmap/robot_base_frame" value="$(arg ns)/base_link"/>
    <param name="local_costmap/global_frame" value="$(arg ns)/odom"/>
    <param name="global_costmap/global_frame" value="map"/>
    <param name="local_costmap/obstacle_layer/scan/sensor_frame" value="$(arg ns)/laser_link"/>

    <param name="robot_frame" value="$(arg ns)/base_link"/>

    <param name="global_costmap/obstacle_layer/scan/topic" value="$(arg laser)/scan"/>
    <param name="local_costmap/obstacle_layer/scan/topic"  value="$(arg laser)/scan"/>

    <param name="tf_timeout" value="1.5"/>
  </node>

  <node pkg="mbf_costmap_nav" type="move_base_legacy_relay.py" name="move_base_adapter" output="screen">
    <rosparam file="$(find ca_move_base)/config/move_base_params.yaml" command="load" />
  </node>

</launch>
